@import './lists.scss';

@import './common.scss';


/* ##################
    #                #
    # LiveView Style #
    #                #
    ##################*/

#LiveView {
  height: 100%;
}

.LiveViewPart {
  height: 50%;
}

.survey-image {
  max-height: 512px;
  margin: auto;
}