@import './lists.scss';

@import './common.scss';

@import './user.scss';

/* ##################
    #                #
    # LiveView Style #
    #                #
    ##################*/

#LiveView {
  height: 100%;
}

.LiveViewPart {
  height: 50%;
}

.survey-image {
  max-height: 512px;
  margin: auto;
}

/* ##################
    #               #
    # Utils         #
    #               #
    #################*/

.mtf-entry-title {
  float: left;
}

.mtf-entry-content {
  float: right;
}

.mtf-title-separator {
  border: solid;
  margin: $margin / 2;
  border-width: 1px 0 0 0;
  border-color: black;
}
