$generic-odd-color: #f9f9f9;
$generic-even-color: #ffffff;

.generic-table-wrapper {
  tbody {
    .odd {
      background-color: $generic-odd-color !important;
    }

    .even {
      background-color: $generic-even-color !important;
    }

    .generic-table-raw-expanding {
      border-top: 0 !important;
    }
  }
}

// /* ########################
//    #                      #
//    # Specific Table Style #
//    #                      #
//    ########################*/

.route-table-wrapper {
  // max-height: $generic-wrapper-max-height;
  // overflow: auto;
  th {
    position: sticky;
    background: #f1f1f1;
    top: 0;
    z-index: 500;
  }
  .route-table-row {
    cursor: pointer;
  }
}

.mission-table-wrapper {
  // max-height: 650px;
  // overflow: auto;
  th {
    position: sticky;
    background: #f1f1f1;
    top: 0;
    z-index: 500;
  }
}

.route-list-column.overflow,
.mission-list-column.overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
