/* ###########
   #         #
   # Commons #
   #         #
   ###########*/
$background: #f1f1f1;

.mtf-view-container {
  background: $background;
  border-radius:5px;
  padding-top: 15px;
}

.mtf-dashboard-row {
  margin-bottom: 15px;
}

/* ##########
   #        #
   # Loader #
   #        #
   ##########*/

.mtf-loader {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00ADC7; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ########
   #      #
   # Card #
   #      #
   ########*/
.mtf-card {
  font-size: 1em;
  margin-bottom: 5px;
}

.mtf-card-icon {
  font-size: 2.5em;
  float: left;
}

.mtf-card-value {
  font-size: 1.8em;
  font-weight: bold;
  float: right;
}

.mtf-card-title {
  clear: both;
  font-size: 1.1em;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* #####################
   #                   #
   # Table Route Style #
   #                   #
   #####################*/

.route-list-table-wrapper {
  overflow: auto;
  max-height: 600px;
}

.route-list-header>th {
  position: sticky;
  background: #c1c1c1;
  top: 0;
  z-index: 500;
}

.route-list-row {
  cursor: pointer;
}

td.route-expanding
{
  background: #fefefe;
}

.route-list-column.overflow,
.mission-list-column.overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* #######################
   #                     #
   # Table Mission Style #
   #                     #
   #######################*/

.mission-list {
  /* border: 1px solid #ddd; */
}

.mission-list-table-wrapper {
  overflow: auto;
  max-height: 512px;
}

.mission-list-table-wrapper>table {
  margin: 0;
}

.mission-list-header>th {
  position: sticky;
  top: 0;
  background-color: #a8c7cc !important;
  z-index: 499;
}

/* .mission-list-body {
  background-color: #f4fdff !important;
}
.mission-list-body>tr :hover {
  background-color: #dce2e4 !important;
} */

/* ##################
    #                #
    # LiveView Style #
    #                #
    ##################*/

#LiveView {
  height: 100%;
}

.LiveViewPart {
  height: 50%;
}
